html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif; /*copied from google font*/
    background-color: #57F8EB;
}

a:hover{
    color: black;
}

h1 {
    font-size: 40px;
    text-align: left;
    margin: 0;
    padding: 20px 0;
    color:#2b3627;
}

p,
li {
    font-size: 19px;
    line-height: 2;
    letter-spacing: 1px;
}

.my-spec{
    font-size: 50px;
    color: blue;
    text-shadow: 3px 3px 1px black;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: cornflowerblue;
    padding: 0 20px 20px 20px;
    border: 5px solid black;  
}

img{
    display: block;
    margin: 30px auto;
}
